**/__pycache__
*.pyc
.idea
*.pth
*.svg
*.sh
*.yml
*.pdf
**/*.pckl
**/.classpath
**/.dockerignore
**/.env
**/.venv
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.
**/install/
install/
**/build
build/
**/log/
log/
logs/
data/
logs/
venv/
venv*
assets/